.postsPage{
    margin: 20px;
}

.sideBlock{
    width: 250px;
    background-color: lightblue;
}

.postsTitle{
    margin-left: 20px;
    font-family: Poppins;
}

.allpostsbtn{
    width: 400px;
}

.questionContainer{
    margin: 10px;
    height: fit-content;
    padding: 15px;
    border-radius: 20px;
}

.linedivide{
    margin-top: 20px;
}