.categories{
    display: grid;
    padding: 0px 100px 0px 100px;
}

.linedivider{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 33, 65);
}

.category{
    text-align: center;
    padding: 30px;
    background-color: rgb(0, 33, 65);
    font-family: sans-serif;
    color: white;
    border: none;
    border-radius: 6px 6px 6px 6px;
    margin-bottom: 20px;
}

.catQuestionContainer{
    height: fit-content;
    width: 95%;
    margin: 20px 0 10px 0;
    padding: 30px 20px 10px 50px;
    border-radius: 30px;
    background-color: goldenrod;
}

.catPostsbtn{
    width: 150px;
    background-color: rgb(0, 33, 65);
    border: none;
    color: white;
    padding: 12px;
    margin: 15px 0 15px 0px;
    box-shadow: 0 1px 6px #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.expandbtn
{
    /* width: 150px; */
    background-color: goldenrod;
    border: none;
    color: rgb(0, 33, 65);
    padding: 10px;
    margin: 5px 0 5px 0px;
    box-shadow: 0 1px 6px #ccc;
    border-radius: 6px;
    font-weight: bold;
    /* font-size: 14px; */
}

.todaybtn
{
    /* width: 150px; */
    background-color: goldenrod;
    border: none;
    color: rgb(0, 33, 65);
    padding: 10px;
    margin-left: 20px;
    box-shadow: 0 1px 6px #ccc;
    border-radius: 6px;
    font-weight: bold;
    /* font-size: 14px; */
}

.popularbtn
{
    /* width: 150px; */
    background-color: goldenrod;
    border: none;
    color: rgb(0, 33, 65);
    padding: 10px;
    margin-left: 20px ;
    box-shadow: 0 1px 6px #ccc;
    border-radius: 6px;
    font-weight: bold;
    /* font-size: 14px; */
}
