.createquestionPage{
    margin: 50px 0px 0px 430px;
}

.postQTitle{
    margin-left: 250px;
    font-family: Poppins;
}

.heading{
    margin: 20px 0px 20px 0px;
}

.captionbox{
    width: 650px;
    height: 60px;
}

.questionbox{
    width: 650px;
    height: 200px;
}

.postbtn{
    width: 650px;
}

.row{
    width: 650px;
}