.leftprofile{
    position: absolute;
    height: 100%;
    width: 50%;
    padding: 2% 0% 0% 4%;
    background-color: goldenrod;
}

.rightprofile{
    overflow-y: auto;
    display: grid;
    width: 100%;
}

.profileTitle{
    color: rgb(0, 33, 65);
    font-family: poppins;
    font-size: 24pt;
    margin: 0px 0px 20px 250px;
}

.imgContainer{
    height: 130px;
    width: 130px;
    position: relative;
    margin: 0% 0% 0% 30%;
}

.defaultImg{
    height: 130px;
    width: 130px; 
    border-radius: 150px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 33, 65);
}

.selectedImg{
    height: 150px;
    width: 150px; 
    border-radius: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(0, 33, 65);
}

.imgSelector{
    position: absolute;
    right: 5px;
    bottom: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background-color: rgb(0, 33, 65);
}

.addImgIcon{
    margin: 2px 0px 0px -2px;
}

.proInputUname{
    width: 400px;
    height: 40px;
    margin-left: 100px;
}

.proInputFname{
    width: 400px;
    height: 40px;
    margin-left: 100px;
}

.proInputLname{
    width: 400px;
    height: 40px;
    margin-left: 100px;
}

.proInputSnum{
    width: 400px;
    height: 40px;
    margin-left: 35px;
}

.proInputEmail{
    width: 400px;
    height: 40px;
    margin-left: 55px;
}